
html {
  scroll-behavior: smooth;
}
.DomeGalleryContainer {
    width: 100%;
    height: 60vh;
    z-index: 4;
   
     
}
.headerContainer{
  position: sticky;
    top: 0;
      background-color: black;
      left: 0;
      
}


.bigSection{
    width: 80%;
    align-self: center;
    justify-self: center;
    height: 110px;
   
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
   
    color: beige;
    display: none;
}
.bigSection a{
   
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
    

}
.bigSection a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}
.bigSection a:hover::after {
    transform: translateY(0);
    opacity: 1;
}
.DomeGalleryContainer{
    position: relative;
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 80%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, filter 0.3s ease;
  
    z-index: 1;
}
.main{
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
  /*   background-color: black; */
  background-color: aliceblue;
    border: #e4e4e4 5px solid;
    box-sizing: border-box;
    height: fit-content;
    z-index: 1;
}

.smallSection{
    width: 80%;
    align-self: center;
    justify-self: center;
    height: 50px;
  padding-top: 5px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
   
    
    display: flex;
      color: #e4e4e4;

}


.menu{
    cursor: pointer;
}
.profileCon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.name{
      font-weight: 500;
}
.profile{
   height: 34px;
    width: 34px;
    border: beige 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    margin-left: 7px;
    cursor: pointer;
}






.options{
    position: absolute;
    top: 10%;
    right: 5px;
    margin-top: 25px;
    padding: 7px;
    background-image: linear-gradient(to right bottom, rgb(212, 235, 251), rgb(202, 232, 253));
   width: 250px;
    
    border-radius: 8px;
    z-index: 10;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    cursor: default;
    color: beige;

    

}
.dashboardLink{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    background-color: skyblue;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;

}

@media (min-width: 600px) {
    .bigSection{
         display: flex;
    }
    .smallSection{
        display: none;

    }
    .profile{
    
     height: 50px;
    width: 50px;
    
    font-size: 25px;
    
}
.options{  
    top: 18%;
    right: 13%;}
   

}