.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    top: 0;
    width: 80%;
    justify-self: center;
}


.searchContainer input {
    width: 70%;
    height: 45px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.searchContainer button {
    height: 45px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #66c1eb;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.searchContainer button:hover {
    background-color: #55a0d1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow, transform, background-color 0.3s ease;
    /* transform: scale(1.05); */
}







.carriersContainer {
    /*     border: 2px solid palevioletred; */
    border-radius: 12px;


    flex: 1;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 80vh;
    max-height: 93vh;
    gap: 20px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 10px;

    bottom: 5px;

}

.eachCarrier {

    border-radius: 8px;
    min-height: 125px;
    box-sizing: border-box;
    padding: 7px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

}

.eachCarrier:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow, transform 0.3s ease;
    transform: matrix(1.05, 0, 0, 1.05, 0, 0);
}

.logoImage img {
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    max-width: 100%;

}

.logoImage {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 50%;

}



.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    gap: 10px;
}

.logoContainer p {
    flex: 1;
    color: rgba(0, 0, 0, 0.422);
    font-size: 20px;
    font-weight: 600;

    font-style: italic;
}