.main {

    font-family: "Spline Sans", "Noto Sans", sans-serif;
    overflow: hidden;
    overflow: auto;
    height: 84vh;
    width: 100%;
    background: linear-gradient(to bottom right, #d4ebfb, #cae8fd);


}

.logo {
    /*  padding-top: 50px; 
      margin-top: 50px;
    
    */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    
}
.logo img {
    height: 100%;
    width: 100%;
    
    
    background-position: center;
    object-fit: cover;
}

.AboutRoamRiteContainer {
    display: flex;
    flex-direction: column;

    align-items: space-evenly;
    justify-content: center;
    gap: 10px;
    padding-bottom: 80px;
    background: linear-gradient(to bottom right, #d4ebfb, #cae8fd);
}

.AboutRoamRiteInfoAndImg {
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    gap: 50px;
   align-self: center;
    width: 95%;
    max-width: 1100px;
    /* padding: 0 10px 10px 10px; */
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid rgba(27, 40, 42, 0.23); */
    background-color: #f5f5f0;
     border-radius: 15px;
}

.AboutRoamRiteInfo{
    width: 60%;
    padding: 15px;
      
}


.AboutRoamRiteImg {


    background-color: white;
    aspect-ratio: 8/8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 40%;
}

.AboutRoamRiteInfo p {
    text-align: start;
    font-size: 18px;
}

.contactUs {
     border-radius: 15px 15px 0 0;
    background-color: white;
}

.contactUs p,
.contactUs h2 {
    text-align: center;

}

.eachContactContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 80px;
    /* background: linear-gradient(to bottom right, #d4ebfb, #cae8fd); */
      border-radius: 0 0 15px 15px;
    background-color: white;
}

.eachContact {
    aspect-ratio: 8 / 8;
    border-radius: 50%;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 250px;
    /* background-color:   #f5f5f0; */
    background: linear-gradient(to bottom right, #d4ebfb, #cae8fd);
}

.icon {
    border-radius: 50%;
    /* background-color: #f8f8daff; */
    background-color: #f5f5f0;



}

.feedbackFormContainer {
    background: linear-gradient(to bottom right, #d4ebfb, #cae8fd);
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 25px;
    padding-bottom: 80px;
}

.feedbackForm {

    width: 60%;
    height: 200%;
    display: flex;
    flex-direction: column;

}

.feedbackForm textarea, .feedbackForm input {
     background-color: #f5f5f0;
}

.feedbackFormH2 {
    background: linear-gradient(to bottom right, #d4ebfb, #cae8fd);
    margin-bottom: 0;
}

.feedbackForm button {

    background-color: #f5f5f0;
}

.feedbackFormSvg {

    width: 40%;
   /*  background-color: #f5f5f0; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50%;
    aspect-ratio: 8 / 8;
    align-self: center;
}

.feedbackFormSvg svg {
    width: 40%;
    height: 40%;
     /* background-color: #f5f5f0; */

}